<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://code.jquery.com/jquery-2.2.4.js"
            integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
            crossorigin="anonymous"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <div class="container">
            <a href="Index">
                <button type="button" class="btn btn-default">Home</button>
            </a>
            <a href="LoginPage">
                <button type="button" class="btn btn-default">Login</button>
            </a>
            <a href="Register">
                <button type="button" class="btn btn-default">Register</button>
            </a>
        </div>

        <form action="RegisterUser" method="post" class="form-signin">
            <h2 class="form-signin-heading">Register user</h2>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required="" autofocus="">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required="">
            <label for="inputFirstname" class="sr-only">Firstname</label>
            <input type="text" id="inputFirstname" name="firstname" class="form-control" placeholder="Firstname" required="" autofocus="">
            <label for="inputLastname" class="sr-only">Lastname</label>
            <input type="text" id="inputLastname" name="lastname" class="form-control" placeholder="Lastname" required="" autofocus="">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
        <label>{{message}}</label>
    </div>
</body>
</html>